{% load static %}
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'bootstrap-3.2.0/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'bootstrap-3.2.0/css/bootstrap-theme.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'font-awesome-4.2.0/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'chatapp/css/global.css' %}" type="text/css">
<script src="{% static 'jquery-2.1.1/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap-3.2.0/js/bootstrap.min.js' %}"></script>